.header {
  border-bottom: 1px solid #ececec;
  &-container {
    display: flex;
    align-items: center;
  }
  &__address {
    &-list {
      display: flex;
      flex-direction: row;
      margin-left: auto;
    }
    &-item:not(:last-child) {
      margin-right: 50px;
    }
    &-icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}
.logo_black {
  color: var(--secondary-dark-color);
}
