.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo_black {
  color: var(--secondary-dark-color);
}
.header__address-list {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.header__address-item:not(:last-child) {
  margin-right: 50px;
}
.header__address-icon {
  margin-right: 10px;
  fill: currentColor;
}
